<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-grid-list [cols]="1" [gutterSize]="'10px'" rowHeight="100px">
    <mat-grid-tile>
        <mat-form-field [style.width.%]="50" class="example-full-width">
            <mat-label>Title</mat-label>
            <input #formTitle matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field [style.width.%]="50" class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea #comment matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <button mat-raised-button [color]="'accent'" (click)="addData()">Добавить</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]="1" [gutterSize]="'20px'" [rowHeight]="'300px'">
    <mat-grid-tile *ngIf="toDoList">
        <table #table mat-table [dataSource]="toDoList">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> comment </th>
                <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['title', 'comment']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['title', 'comment'];"></tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>